/* 基本样式部分（保持不变） */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}



.add-btn {
  display: block;
  width: 100%;
  background-color: #8496f0;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.add-btn:hover {
  background-color: #6b7fde;
}

/* 表单样式 */
form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;

}


.navbar {
  height: 4vh;
  background-color: #4CAF50;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}


.radio-group {
  margin-bottom: 10px;
}

.radio-group label {
  margin-right: 10px;
}

body {
  font-family: Arial, sans-serif;
}

/* 头部样式 */
.header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 28px;
  color: white;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 80%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header:hover .dropdown {
  display: block;
}

.header:hover {
  background-color: #3e8e41;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 28px;
  color: white;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}


.sidebar {
  position: relative;
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
  padding-top: 20px;
  box-sizing: border-box;
}

.sidebar a {
  display: block;
  color: #333;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #ddd;
}


.main-content {
  display: flex;
  flex: 1;
}



.add-dish-btn {
  display: block;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.visible-block {
  display: block;

}

.visible-table {
  display: table;
}